/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default margin  */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  color: antiquewhite;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #272822;
  padding: 3em;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

main {
  box-shadow: 0 0 0.75rem rgb(214, 214, 45, 41%);
  width: 60vw;
  margin: 0 auto;
  
}

h1 {
  font-family: sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  padding: 1rem 0;
}

ul {
  padding: 0;
}

li {
  width: 100%;
  padding: 1em 0.5em;
  list-style: none;
  display: grid;
  grid-template-columns: 10% 85% 5%;
  border-bottom: solid 1px rgb(194, 194, 194);
  align-items: center;
  color: #fffeca;
}

form {
  display: block;
}

.hide {
  display: none;
}

#header {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px rgb(194, 194, 194);
}

#clear {
  width: 100%;
}

.clearBtn {
  width: 100%;
  height: 4rem;
  background-color: #272822;
  color: rgb(131, 129, 129);
  border: none;
}

span {
  cursor: pointer;
}

.emptyState {
  text-align: center;
  margin: 1rem;
  color: #D6D62D;
}

input[type=text],
input[type=text]:active,
input[type=text]:focus-visible {
  border: none;
  appearance: none;
  vertical-align: middle;
  background: transparent;
  outline: none;
  box-shadow: none;
  color: antiquewhite;
}

.todo {
  border: none;
  font-size: large;
}

.add {
  display: flex;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
}

.add input {
  border: none;
  background-color: #272822;
  caret-color: #74AF2A;
}

.add input::placeholder {
  color: rgb(148, 147, 147);
  font-style: italic;
}

.add input:focus-visible {
  color: antiquewhite;
  outline: none;
  box-shadow: none;
  background: transparent;
}

.add p {
  margin: 0.5em 1em 0 0;
}

.completed {
  text-decoration: line-through;
  color: grey;
}

.editing {
  color: #74AF2A;
  background: #1E1F1C;
}
